<mat-card
  class="cursor-pointer"
  appearance="outlined"
  (pointerdown)="pointerDownHandler()"
  (pointerup)="pointerUpHandler()"
>
  <mat-card-content class="select-none">
    <ng-container *ngIf="secret.type === SecretEnum.LOGIN">
      <div class="flex flex-row items-center gap-2">
        <mat-icon class="primary-icon icon-size-lg">key</mat-icon>
        <div class="flex flex-col">
          <span class="text-xl font-medium">{{ secret.name }}</span>
          <span class="text-dim font-medium">{{ secret.data.identifier }}</span>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
