<form
  autocomplete="off"
  class="flex flex-col mt-4"
  [formGroup]="loginFormGroup"
>
  <input autocomplete="off" name="hidden" class="hidden" />
  <mat-form-field class="w-full">
    <mat-label>Identifier</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <input matInput />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Password</mat-label>
    <mat-icon matPrefix>lock</mat-icon>
    <!-- TODO: Change content to dynamic and add click event to swap visibility -->
    <mat-icon matSuffix>visibility</mat-icon>
    <!-- TODO: Change type to dynamic -->
    <input matInput type="password" autocomplete="new-password" />
  </mat-form-field>
  <app-divider class="py-2" label="Optional" />
  <mat-form-field class="w-full">
    <mat-label>Website</mat-label>
    <mat-icon matPrefix>language</mat-icon>
    <input matInput />
  </mat-form-field>
</form>
