<mat-dialog-content class="!max-h-full">
  <mat-stepper #stepper linear class="h-full">
    <mat-step [completed]="selectedType">
      <ng-template matStepLabel>Choose secret type.</ng-template>
      <div class="flex flex-col mt-4">
        <div class="flex justify-center gap-2 mt-2">
          @for (type of secretTypes; track type) {
            <button
              [class]="[
                'fab-select-option',
                selectedType == type.value ? 'selected' : null,
              ]"
              (click)="setSelectedType(type.value)"
              mat-fab
            >
              <mat-icon>{{ type.icon }}</mat-icon>
            </button>
          }
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fill in details.</ng-template>
      <ng-template matStepContent>
        @if (selectedType === secretEnum.LOGIN) {
          <form
            autocomplete="off"
            class="flex flex-col mt-4"
            [formGroup]="loginFormGroup"
          >
            <input autocomplete="off" name="hidden" class="hidden" />
            <mat-form-field class="w-full">
              <mat-label>Identifier</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <input matInput />
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>Password</mat-label>
              <mat-icon matPrefix>lock</mat-icon>
              <!-- TODO: Change content to dynamic and add click event to swap visibility -->
              <mat-icon matSuffix>eye</mat-icon>
              <!-- TODO: Change type to dynamic -->
              <input matInput type="password" autocomplete="new-password" />
            </mat-form-field>
          </form>
        }
      </ng-template>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions>
  @defer {
    <button
      mat-button
      [disabled]="stepper.selectedIndex === 0"
      (click)="stepper.previous()"
    >
      Back
    </button>
    @if (stepper.selectedIndex == stepper.steps.length - 1) {
      <button mat-button [disabled]="!stepper.selected?.completed">
        Create
      </button>
    } @else {
      <button
        mat-button
        [disabled]="!stepper.selected?.completed"
        (click)="stepper.next()"
      >
        Next
      </button>
    }
  }
</mat-dialog-actions>
