<mat-nav-list *ngIf="list">
  @for (item of list; track item.id) {
  <a mat-list-item *ngIf="item.routerLink" [routerLink]="item.routerLink">
    <mat-icon matListItemIcon *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.label }}</span>
  </a>
  <a mat-list-item *ngIf="item.onClick" (click)="item.onClick()">
    <mat-icon matListItemIcon *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.label }}</span>
  </a>
  }
</mat-nav-list>
<mat-spinner *ngElse />
